@font-face {
    font-family: Inter;
    src: url(https://fonts.google.com/specimen/Inter);
}
@font-face {
    font-family: Inter-ExtraBold;
    src: url(./fonts/static/Inter-ExtraBold.ttf);
}

* {
    text-align: center;
    color: white;
}

.first,
.second,
.third,
.fourth {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq,
footer {
    background-color: black;
    color: white;
}

.top-content {
    background-image: url('https://sriramkg.github.io/assignment_1/IN-en-20240408-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    padding: 20px 40px;
    position: relative;
    text-align: center;
    background-size: contain;
    height: 650px;
}
.top-content1{
    background: linear-gradient(to right, #000000de, #0000009c);
}
.login-container{
    background-image: url('https://sriramkg.github.io/assignment_1/IN-en-20240408-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    padding: 100px 400px;
    position: relative;
    text-align: center;
    background-size: contain;
}
.signin-conatiner {
    /*background: linear-gradient(to right, #000000de, #0000009c);*/    
}
h1 {
    font-family: Inter-ExtraBold;
    font-weight: 900;
    font-size: 3rem;
}
p {
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}
main {
    /*background: linear-gradient(to right, #0000009c, #0000009c);*/
    height: 300px;
    margin: 150px;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

#btn1 {
    background-color: red;
}

#lang-select {
    background-color: black;
}

#footerpara {
    text-align: left;
}

details {
    cursor: pointer;
}

details>summary {
    list-style-type: square;
    list-style-position: inside;
}

#brand svg {
    width: 180px;
    height: auto;
}